{$N8N_HOST} {
	handle /webhook/github-ci-to-jira {
		reverse_proxy webhook-verifier:3000
	}

	@blocked_webhooks path /webhook* /webhook-test*
	handle @blocked_webhooks {
		respond 404
	}

	handle {
		reverse_proxy n8n:5678
	}
}
